<header>
  <h1>Blogyy</h1>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/myposts">MyPosts</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
